<h1>Novi Naslovi</h1>
<hr>
<div class="card" style="width: 18rem;">
    <img src="../../../assets/img/slbk2.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"> Hajrudin Tahir Ahmetović</h5>
      <p class="card-text">DJELA SRCA</p>
    </div>
    <ul  class="list-group list-group-flush">
      <li class="list-group-item">NOVO</li>
      <li class="list-group-item">Cena: 1200 RSD</li>
      <li class="list-group-item"><a href="#" class="card-link">Procitaj vise</a></li>

    </ul>
    <div class="card-body">
      <a style="text-align: center;text-decoration: none;" href="#" class="card-link">Dodaj u korpu <i class="bi bi-cart-plus-fill"></i></a>
    </div>
  </div>
  <h1>Top popusti</h1>
  <hr>
  <div class="card" style="width: 18rem;">
      <img src="../../../assets/img/slbk2.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Dr. Abdurrahman Re’fet Baša</h5>
        <p class="card-text">IZ ZIVOTA ASHABA</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Izdvajamo -30% </li>
        <li class="list-group-item">Cena: 1700 RSD</li>
        <li class="list-group-item"><a href="#" class="card-link">Procitaj vise</a></li>

      </ul>
      <div class="card-body">
        <a style="text-align: center;text-decoration: none;" href="#" class="card-link">Dodaj u korpu <i class="bi bi-cart-plus-fill"></i></a>
      </div>
    </div>
    <h1>Nasi urednici preporucuju</h1>
    <hr>
<div class="card" style="width: 18rem;">
    <img src="../../../assets/img/slbk2.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Ibnul-Dževzi</h5>
      <p class="card-text">HASAN EL-BASRI</p>
      <p class="card-text">Savjeti o moralu, skromnosti i pobožnosti</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Najprodavanije</li>
      <li class="list-group-item">Cena: 1790 RSD</li>
      <li class="list-group-item"><a href="/login" class="card-link">Procitaj vise</a></li>
    </ul>
    <div class="card-body">
        <a style="text-align: center;text-decoration: none;" href="#" class="card-link">Dodaj u korpu <i class="bi bi-cart-plus-fill"></i></a>
      </div>
  </div>